# Build Artifacts
bin/
obj/
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.tlog
*.suo
*.user
*.aps
*.res
*.pch
*.lib
*.dll
*.ipch

# Node
node_modules/
.env
*.log

# VS
.vs/
x64/
Debug/
Release/

# Build Directories (Recursive)
**/x64/
**/Debug/
**/Release/

# FactoryStation
FactoryStation/Agent/agent_config.json

# Server
Server/API/Data/alert_settings.json
Server/API/publish/
Server/API/publish.zip
Server/API/wwwroot/uploads/

# Test Results
*.trx
TestResults/