# Build Headers
bin/
obj/
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.tlog
*.suo
*.user
*.aps
*.res
*.pch
*.lib
*.dll
*.ipch

# Node
node_modules/
.env
*.log

# VS
.vs/
x64/
Debug/
Release/

# Agent Config (Local)
LensAssemblyAgent/agent_config.json

# Build Directories (Recursive)
**/x64/
**/Debug/
**/Release/


# Local User Settings
LensAssemblyMonitoringWeb/Data/alert_settings.json
LensAssemblyMonitoringWeb/publish/

# Test Results
*.trx
TestResults/

# Uploads
LensAssemblyMonitoringWeb/wwwroot/uploads/
LensAssemblyMonitoringWeb/publish.zip