# Build Headers
bin/
obj/
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.tlog
*.suo
*.user
*.aps
*.res
*.pch
*.lib
*.dll
*.ipch

# Node
node_modules/
.env
*.log

# VS
.vs/
x64/
Debug/
Release/

# Agent Config (Local)
FactoryAgent/agent_config.json

# Build Directories (Recursive)
**/x64/
**/Debug/
**/Release/


# Local User Settings
FactoryMonitoringWeb/Data/alert_settings.json
FactoryMonitoringWeb/publish/